@import 'open-props/style';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #262626;
  --color-btn: var(--teal-4);
  --font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-primary);
  background: var(--gradient-9) no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

section,
footer {
  max-width: 1980px;
  width: 100%;
  margin: 0 auto 2rem;
  position: relative;
}

strong {
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

h1 {
  font-weight: 400;
  font-size: clamp(1.8rem, 5.6rem, 10vw);
  line-height: 1.3;
  margin-bottom: 20px;
}

h2 {
  font-weight: 400;
  font-size: clamp(1.8rem, 3.2rem, 6vw);
  line-height: clamp(21px, 36px, 3.2vw);
  margin-bottom: 18px;
}

h3 {
  font-weight: 400;
  font-size: clamp(1.8rem, 2.4rem, 4vw);
  line-height: clamp(21px, 32px, 3.2vw);
  margin-bottom: 15px;
}

@media (max-width: 1699.98px) {
  h1 {
    font-size: clamp(1.8rem, 3.2rem, 6vw);
    line-height: clamp(21px, 39px, 3.2vw);
    margin-bottom: 20px;
  }

  h2 {
    font-size: clamp(1.8rem, 2.8rem, 5.5vw);
    line-height: clamp(21px, 29px, 2.8vw);
    margin-bottom: 15px;
  }

  h3 {
    font-size: clamp(1.8rem, 2.4rem, 4.5vw);
    line-height: clamp(21px, 24px, 2.4vw);
    margin-bottom: 12px;
  }
}

@media (max-width: 1199.98px) {
  h1 {
    font-size: clamp(1.8rem, 2.8rem, 5.5vw);
    line-height: clamp(21px, 28px, 2.8vw);
    margin-bottom: 20px;
  }

  h2 {
    font-size: clamp(1.8rem, 2.4rem, 4.7vw);
    line-height: clamp(21px, 29px, 2.9vw);
    margin-bottom: 15px;
  }

  h3 {
    font-size: clamp(1.8rem, 2.1rem, 4.3vw);
    line-height: clamp(21px, 24px, 2.4vw);
    margin-bottom: 12px;
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: clamp(1.8rem, 2.4rem, 4.5vw);
  }

  h3 {
    font-size: clamp(1.8rem, 2.2rem, 4.2vw);
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: clamp(1.8rem, 1.8rem, 3.5vw);
    line-height: clamp(21px, 21px, 3.2vw);
    margin-bottom: 15px;
  }

  h2 {
    font-size: clamp(1.8rem, 2.4rem, 4.7vw);
    line-height: clamp(21px, 29px, 2.9vw);
    margin-bottom: 15px;
  }

  h3 {
    font-size: clamp(1.8rem, 2rem, 4.2vw);
    line-height: clamp(21px, 24px, 2.4vw);
    margin-bottom: 12px;
  }
}




.button {
  color: white;
  padding: 10px 30px;
  background: var(--teal-4);
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}



@media (max-width: 991.98px) {
  section {
    margin: 0 auto 1rem;
  }

}



a,
a:hover {
  text-decoration: none;
}

.button:focus {
  outline: unset;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
    padding-bottom: 2rem;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem 1rem;
  }
}

/* HEADER COMPONENT */

header {
  padding: 4rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

header .title {
  flex-grow: 1;
}

header h1 {
  border-bottom: 1px solid var(--teal-4);
}

@media (max-width: 991.98px) {
  header {
    flex-direction: column;
  }

  header h1 {
    border-bottom: unset;
  }
}

/* HOME PAGE  */
.home-wrapper {
  text-align: center;
}

/* ABOUT PAGE */
.about-wrapper {
  display: flex;
  gap: 2rem;
}

.about-wrapper .about-main-img {
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
}

.about-wrapper .content {
  max-width: 800px;
}

.about-wrapper .next button {
  margin: 0 auto;
}

ol {
  list-style-type: none;
  counter-reset: my-counter;
}

ol li,
ul li {
  position: relative;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

ol li::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  position: absolute;
  left: -20px;
  width: 15px;
  height: 15px;
  background-color: #3498db;
  color: white;
  text-align: center;
  line-height: 15px;
  border-radius: 3px;
}

ul li::before {
  content: "➡";
  position: absolute;
  left: -20px;
  width: 15px;
  height: 15px;
  font-size: 14px;
  line-height: 15px;
}

@media (max-width: 991.98px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about-wrapper .about-main-img {
    max-width: 200px;
  }

  .about-wrapper .next {
    align-self: flex-end;
  }
}


/* COUNTDOWN TIMER COMPONENT */
.countdown-container {
  text-align: center;
  margin: 20px;
}

.countdown-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  margin: 0 15px;
  font-size: 24px;
}

.countdown-value {
  font-size: 36px;
  font-weight: bold;
}

.countdown-expired {
  font-size: 18px;
  color: #ff0000;
  margin-top: 10px;
}

@media (max-width: 459.98px) {
  .countdown-item {
    font-size: 20px;
  }
}

@media (max-width: 380.98px) {
  .countdown-item {
    font-size: 18px;
  }
}

@media (max-width: 345.98px) {
  .countdown-item {
    font-size: 15px;
  }
}

/* REGISTRATION PAGES */
.registration-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.registration-wrapper .laptop {
  width: 600px;
  height: 379px;
  margin: auto;
  position: relative;
}

.registration-wrapper .laptop img {
  max-width: 100%;
}

.registration-wrapper .laptopScreen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.registration-wrapper .laptopScreen img {
  max-width: 100%;
}

.registration-wrapper .laptopScreen::-webkit-scrollbar {
  display: none;
}

.registration-wrapper .phone,
.registration-wrapper .phoneScreen {
  display: none;
}

/* .registration-wrapper form {
} */

.registration-wrapper h2 {
  color: rgb(77, 1, 77);
  text-align: center;
}

.registration-wrapper button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.registration-wrapper .formInput {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Styl tooltipu */
.tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white !important;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  max-width: 350px;
  width: 100%;
}

.formInput.date:hover .tooltip {
  display: block;
}

.registration-wrapper input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: var(--font-family);
}


.registration-wrapper label {
  font-size: 12px;
  color: gray;
}

.registration-wrapper span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
  margin-top: -10px;
  margin-bottom: 10px;
}

.registration-wrapper input:invalid[focused="true"] {
  border: 1px solid red;
}

.registration-wrapper input:invalid[focused="true"]~span {
  display: block;
}

@media (max-width: 991.98px) {
  .registration-wrapper {
    flex-direction: column;
  }

  .gift-screens {
    order: 2;
  }
}



@media (max-width: 767.98px) {

  .registration-wrapper .laptop,
  .registration-wrapper .laptopScreen {
    display: none;
  }

  .registration-wrapper .phone,
  .registration-wrapper .phoneScreen {
    display: block;
  }

  .registration-wrapper .phone {
    margin: auto;
    width: 300px;
    height: 600px;
    position: relative;
  }

  .registration-wrapper .phone-picture {
    height: 563px;
    width: 100%;
  }

  .registration-wrapper .phoneScreen {
    width: 264px;
    height: 567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
  }

  .registration-wrapper .phoneScreen::-webkit-scrollbar {
    display: none;
  }

  .registration-wrapper .phoneApp {
    width: 100%;
    border-radius: 32px;
    ;
  }
}

/* PAGE NOT FOUND */
.page-not-found-wrapper {
  text-align: center;
}

/* THANKS PAGE */
.thanks-info {
  text-align: center;
}

.effect-slider-wrapper {
  position: relative;
}

.effect-slider-wrapper .swipe-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
}

.effect-slider-wrapper .carousel {
  cursor: grab;
  overflow: hidden;
}

.effect-slider-wrapper .carousel-inner {
  display: flex;
}

.effect-slider-wrapper .item {
  height: 40rem;
  min-width: 40rem;
  width: 60%;
  padding: 4rem;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

@media (max-width: 768.98px) {
  .effect-slider-wrapper .carousel {
    margin-top: 5rem;
  }

  .effect-slider-wrapper .swipe-icon {
    top: -35px;
  }

  .effect-slider-wrapper .item {
    padding: 1rem;
    height: 30rem;
    min-width: 30rem
  }
}

@media (max-width: 575.98px) {

  .effect-slider-wrapper .item {
    padding: 0.5rem;
    height: 20rem;
    min-width: 20rem
  }
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1
}

.modal {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.modal p {
  color: #333;
  font-weight: 700;
}